* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 183, 197, 0.75);
}

*:focus {
    outline: none;
}

.container {
    margin: 25vh auto 0 auto;
    text-align: center;
    background-color: #ffb7c5;
    border-radius: 25px;
    width: 500px;
    height: 200px;
    box-shadow: 0 0 10px 0 rgb(255, 183, 197, 0.8);
}

.words {
    padding-top: 20px;
    margin: auto;
    width: 350px;
    height: 60px;
    text-align: left;
    color: rgb(0, 0, 0, 0.75);
}

.input-area {
    margin-top: 25px;
    height: 35px;
    width: 115px;
    text-align: center;
    border-radius: 35px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.stats-cont {
    margin: 20px auto 0 auto;
    width: 400px;
    height: 25px;
    color: rgb(0, 0, 0, 0.75);
}

.stats-cont p {
    display: inline;
    padding: 0 15px 0 15px;
}